In [1]:
import sqlite3
import datetime

conn = sqlite3.connect('database1.db')
conn.execute('CREATE TABLE employee (name text, timestamp timestamp)')
conn.close()

In [3]:
conn = sqlite3.connect('database1.db')
c = conn.execute('SELECT * From employee')
print(c.description)
c.close()
conn.close()

(('name', None, None, None, None, None, None), ('timestamp', None, None, None, None, None, None))

In [4]:
name= input("Enter name: ")

Enter name: tt

In [5]:
currentDateTime = datetime.datetime.now()

In [6]:
conn = sqlite3.connect('database1.db')
c = conn.cursor()
c.execute('INSERT INTO employee (name,timestamp) VALUES(?,?)',(name,currentDateTime))
conn.commit()
c.close()
conn.close()

In [12]:
conn = sqlite3.connect('database1.db')
c = conn.execute('''select *
from employee''')
r=""
for row in c:
    print(row)
    r = r + str(row)
c.close()
conn.close()

('tt', '2024-03-09 09:45:21.132750')
('Teoh TeikToe', '2024-03-09 09:52:09.670349')

In [11]:
row

('tt', '2024-03-09 09:45:21.132750')